YAHOO_CLIENT_ID=dj0yJmk9UWNPOU1lbjFDc2xyJmQ9WVdrOVNFOXJObnBKZGtrbWNHbzlNQT09JnM9Y29uc3VtZXJzZWNyZXQmc3Y9MCZ4PTg0
YAHOO_CLIENT_SECRET=d94b7c8d90a05f5ba15d09321028c854f78cef17
LEAGUE_ID=112971
# First season year your league ran (e.g. 2014)
LEAGUE_START_YEAR=2012
DATABASE_URL=sqlite:///../data/fantasy.db
